VITE_STUDENT_API_BASE_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
VITE_STUDENT_API_KEY=
# VITE_DRIVE_IMAGE_PROXY=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec?action=drive_image

